In [1]:
import datasets
import pandas as pd

In [2]:
yelp_ds_name = 'yelp_review_full'

In [3]:
ds = datasets.load_dataset(yelp_ds_name)

ds

Reusing dataset yelp_review_full (/home2/sagarsj42/.cache/huggingface/datasets/yelp_review_full/yelp_review_full/1.0.0/e8e18e19d7be9e75642fc66b198abadb116f73599ec89a69ba5dd8d1e57ba0bf)

  0%|          | 0/2 [00:00<?, ?it/s]

DatasetDict({
    train: Dataset({
        features: ['label', 'text'],
        num_rows: 650000
    })
    test: Dataset({
        features: ['label', 'text'],
        num_rows: 50000
    })
})

In [4]:
ds['train']

Dataset({
    features: ['label', 'text'],
    num_rows: 650000
})

In [5]:
split_ds = ds['train'].train_test_split(test_size=50000, stratify_by_column='label', seed=42)
train_ds = split_ds['test']

train_ds

Dataset({
    features: ['label', 'text'],
    num_rows: 50000
})

In [6]:
dev_ds = split_ds['train'].train_test_split(test_size=2500, stratify_by_column='label', seed=42)['test']

dev_ds

Dataset({
    features: ['label', 'text'],
    num_rows: 2500
})

In [7]:
test_ds = ds['test'].train_test_split(test_size=5000, stratify_by_column='label', seed=42)['test']

test_ds

Dataset({
    features: ['label', 'text'],
    num_rows: 5000
})

In [8]:
train_df = pd.DataFrame(train_ds)

print(train_df.info())

train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   50000 non-null  int64
 1   text    50000 non-null  object
dtypes: int64(1), object(1)
memory usage: 781.4+ KB
None

   label                                               text
0      1  Ugh.  Not my kinda place.  Just a bunch of cha...
1      3  As has already been mentioned, the staff at Gr...
2      4  I love this place! The best dim sum in Chandle...
3      3  Friday night, 8:00 -- busy enough that we got ...
4      1  I've definitely had better buffets at Vegas. I...

In [9]:
dev_df = pd.DataFrame(dev_ds)

print(dev_df.info())

dev_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2500 non-null   int64
 1   text    2500 non-null   object
dtypes: int64(1), object(1)
memory usage: 39.2+ KB
None

   label                                               text
0      2  This is getting three stars as an average. The...
1      3  Great location cool atmosphere inside \nDefini...
2      0  Office staff can make or break your practice. ...
3      4  Overall:\nI was extremely happy with this plac...
4      1  Not at all worth it. Front of the car was not ...

In [10]:
test_df = pd.DataFrame(test_ds)

print(test_df.info())

test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5000 non-null   int64
 1   text    5000 non-null   object
dtypes: int64(1), object(1)
memory usage: 78.2+ KB
None

   label                                               text
0      3  Best hangover food on the planet! Their Macho ...
1      4  Really fresh sake. Great rolls. Nice option to...
2      4  Awesome! Tons of new and used here. CDs, DVDs,...
3      1  I went on the indoor ride and we shared a gond...
4      0  Wow, is there a negative 12 star? Seriously, t...

In [11]:
train_df.label.value_counts()

1    10000
3    10000
4    10000
0    10000
2    10000
Name: label, dtype: int64

In [12]:
dev_df.label.value_counts()

2    500
3    500
0    500
4    500
1    500
Name: label, dtype: int64

In [13]:
test_df.label.value_counts()

3    1000
4    1000
1    1000
0    1000
2    1000
Name: label, dtype: int64

In [14]:
train_df.to_csv('./data/yelp/yelp-subset.train.csv', index=False)

In [15]:
dev_df.to_csv('./data/yelp/yelp-subset.dev.csv', index=False)

In [16]:
test_df.to_csv('./data/yelp/yelp-subset.test.csv', index=False)